.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

.box {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

.Lock-container {
  z-index: 20;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.67) 0px 4px 10px;
  transition: transform 0.15s;
  background-color: rgb(66, 66, 66);
}

.blur-bgimage {
    overflow: hidden;
    margin: 0;
}

.blur-bgimage:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
    transform: scale(1.1);
}
