.LoginScreen-container {
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #8f3b3b;
  
}

.box {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}
